<div class="jumbotron">
    <h2 class="col-sm-6 offset-sm-5">Nosso Lar App</h2>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <button [routerLink]="['/ciclos']" [disabled]="loading" class="btn btn-secondary btn-sm">Ciclos</button>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <button [disabled]="loading" class="btn btn-secondary btn-sm">Cursos</button>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <button [routerLink]="['/users']" [disabled]="loading" class="btn btn-secondary btn-sm">Permissões</button> 
          </div>
      </div>
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <button [routerLink]="['/colaborators']" type="button" class="btn btn-primary btn-lg btn-block">Área Própria</button>
          </div>
      </div>
  </div>
</div>