<div class="container">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <h3 class="col-sm-6 offset-sm-5">Turmas</h3>
    <hr class="my-4">
  
    <div id="accordion"  class="col-sm-6 offset-sm-5" *ngFor="let course of cursos">
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="mb-0">{{course.nome}}</h4>
          </button>
        </div>
  
        <div id="collapseOne" class="collapse show" aria-labelledby="heading" data-parent="#accordion">
          <div class="card-body">
           {{course.desc1}}
           <button type="button" class="btn btn-primary btn-block">Editar Cronograma de Aulas</button>
         </div>
        </div>
      </div>
      <br>
    </div>
  
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adicionando novo Curso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-primary">Salvar mudanças</button>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary col-6 offset-3" data-toggle="modal" data-target="#myModal">
      Adicionar Curso
    </button>
    

  </div>
