<div class="container">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <h3 class="col-sm-6 offset-sm-5">Turmas</h3>
  <hr class="my-4">

  <div id="accordion" class="col-sm-6 offset-sm-5" *ngFor="let turma of turmas">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-link" data-toggle="collapses" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <h4 class="mb-0">{{turma.name}}</h4>
        </button>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="heading" data-parent="#accordion">
        <div class="card-body">

          <button style="margin-top: 10px;" [routerLink]="['/aprovacao', turma.id]" type="button"
            class="btn btn-primary">Aprovar Matrículas</button>
          <a (click)="deleteTurma(turma.id)">
            <button style="margin-top: 10px; float: right" type="button" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </a>
        </div>
      </div>
    </div>
    <br>
  </div>

  <form [formGroup]="turmaForm" (ngSubmit)="onSubmit()">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Adicionando nova Turma</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Nome da Turma</label>
              <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">O nome da turma é obrigatório</div>
              </div>
            </div>

            <div class="input-group mb-3">
              <div class="form-group">
                <label for="ciclo">Ciclos</label>
                <select class="form-control" formControlName="ciclo"
                  [ngClass]="{ 'is-invalid': submitted && f.ciclo.errors }">
                  <option *ngFor="let c of ciclos" [value]="c.id">{{c.name}}</option>
                </select>
                <div *ngIf="submitted && f.ciclo.errors" class="invalid-feedback">
                  <div *ngIf="f.ciclo.errors.required">O ciclo é obrigatório</div>
                </div>
              </div>

              <div class="form-group">
                <label for="start_date">Início: </label>
                <input type="datetime-local" class="form-control" formControlName="start_date"
                  [ngClass]="{ 'is-invalid': submitted && f.start_date.errors }">
                <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
                  <div *ngIf="f.start_date.errors.required">A data de início é obrigatória</div>
                </div>
              </div>

              <div class="form-group">
                <label for="end_date">Fim: </label>
                <input type="datetime-local" class="form-control" formControlName="end_date"
                  [ngClass]="{ 'is-invalid': submitted && f.end_date.errors }">
                <div *ngIf="submitted && f.end_date.errors" class="invalid-feedback">
                  <div *ngIf="f.end_date.errors.required">A data de término é obrigatória</div>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer form-group col-6 offset-3">
            <button class="btn btn-block btn-primary">Criar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-primary col-6 offset-3" data-toggle="modal" data-target="#myModal">
    Adicionar Turma
  </button>


</div>