<div class="container">
  <h3 class="col-sm-6 offset-sm-5">Turmas</h3>
  <hr class="my-4">

  <div id="accordion" class="col-sm-6 offset-sm-5" *ngFor="let turns of turmas">
    <div class="card">
      <div class="card-header">
        <button type="button" class="btn btn-link">
          <h4 class="mb-0">{{turns.name}}</h4>
        </button>
      </div>

      <div class="card-body">
        {{turns.curso}}
      </div>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="btn-circle-div">
      <button [routerLink]="['/nturma']" type="button" class="btn btn-circle btn-xl"><i
          class="glyphicon glyphicon-plus"></i></button>
    </div>
  </div>
</div>