<div class="container">
  <h3>Turmas Ministradas</h3>

    <mat-expansion-panel class="list-group-item list-group-item-action flex-column align-items-start"
      *ngFor="let colaborador of colaboradores" style="box-sizing: inherit; border: 1px solid #ddd;">
      <mat-expansion-panel-header>
        <mat-panel-title class="cursoTitle">
          {{colaborador.turma.name}}
        </mat-panel-title>
        <mat-panel-description class="cursoDescription">
          {{colaborador.turma.start_date  | date: "dd/MM/yyyy"}} - {{colaborador.turma.end_date | date: "dd/MM/yyyy"}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button type="button" class="btn btn-primary but" [routerLink]="['/aula', colaborador.turma.ciclo.id]">Aulas
        Cadastradas</button>
      <button type="button" class="btn btn-primary but" [routerLink]="['/lista-alunos', colaborador.turma.id]">Lista de
        Alunos</button>
      <button type="button" [routerLink]="['/attendance', colaborador.turma.id]" class="btn btn-primary but">Realizar
        Chamada</button>
    </mat-expansion-panel>
    <mat-expansion-panel class="list-group-item list-group-item-action flex-column align-items-start"
      *ngIf="this.colaboradores && this.colaboradores.length == 0">
      <mat-expansion-panel-header>
        Você ainda não ministra nenhuma turma!
      </mat-expansion-panel-header>
    </mat-expansion-panel>

  <button [routerLink]="['/students']" class="btn btn-primary but" style="margin-top: 20px">Área do Aluno</button>

  <br />

  <h3> Avisos </h3>
  <div class="list-group" *ngFor="let aviso of avisos" style="border: 1px solid #ddd;">
    <a class="list-group-item list-group-item-action flex-column align-items-start" style="border: 0 !important">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{aviso.title}}</h5>
        <small class="text-muted">{{aviso.created_at | date: "dd/MM/yyyy"}}</small>
      </div>
      <p class="mb-1">{{aviso.description}}</p>
      <small class="text-muted">{{aviso.user.name}}</small>
    </a>
  </div>
  <h5 *ngIf="this.avisos && this.avisos.length == 0">
    Você não tem nenhum aviso!
  </h5>
</div>

<div>

  
  <button [routerLink]="['/naviso']" class="btn btn-primary but" style="margin-top: 20px">Novo Aviso</button>

</div>