<h4 class="text"> Cursos Incubidos</h4>

<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Domingo - Ciclo 1
      </mat-panel-title>
      <mat-panel-description>
        Domingo - 20:00
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> Próxima aula: 07/04</p>
    <br> <button class="text, b"> Aulas Cadastradas</button>
    <br> <button class="text, b"> Lista de Alunos </button>
    <br> <button class="text, b"> Chamada </button>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Segunda - Ciclo 1
      </mat-panel-title>
      <mat-panel-description>
        Segunda - 19:00 
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br> <button class="text, b"> Aulas Cadastradas</button>
    <br> <button class="text, b"> Lista de Alunos </button>
    <br> <button class="text, b"> Chamada </button>
  </mat-expansion-panel>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quarta - Ciclo 1
      </mat-panel-title>
      <mat-panel-description>
        Quarta - 20:00
      </mat-panel-description>
    </mat-expansion-panel-header>
    <br> <button class="text, b"> Aulas Cadastradas</button>
    <br> <button class="text, b"> Lista de Alunos </button>
    <br> <button class="text, b"> Chamada </button>
  </mat-expansion-panel>

</mat-accordion>


<button class="buttonAdd" >+</button>

<h3 class="text">Avisos</h3>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Aviso 1
      </mat-panel-title>
      <mat-panel-description>
        Material - Aula 01
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> O material da aula 1 encontra-se disponível </p>
  </mat-expansion-panel>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aviso 
        </mat-panel-title>
        <mat-panel-description>
          Troca de Sala - Turma 1
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p> Aulas da Turma 1 passará a ser na sala 222 </p>
    </mat-expansion-panel>


</mat-accordion>




