<h4 class="text"> Turmas Ministradas </h4>

<div class="container">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel class="list-group-item list-group-item-action flex-column align-items-start"
      *ngFor="let colaborador of colaboradores">
      <mat-expansion-panel-header>
        <mat-panel-title class="cursoTitle">
          {{colaborador.turma.name}}
        </mat-panel-title>
        <mat-panel-description class="cursoDescription">
          {{colaborador.start_date}}
        </mat-panel-description>
        <mat-panel-description class="cursoDescription">
          {{colaborador.end_date}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button type="button" class="btn btn-primary but" [routerLink]="['/aula', colaborador.turma.ciclo.id]">Aulas Cadastradas</button>
      <button type="button" class="btn btn-primary but" [routerLink]="['/lista-alunos', colaborador.turma.id]">Lista de
        Alunos</button>
      <button type="button"[routerLink]="['/attendance', colaborador.turma.id]" class="btn btn-primary but">Realizar Chamada</button>
    </mat-expansion-panel>
    <mat-expansion-panel class="list-group-item list-group-item-action flex-column align-items-start"
      *ngIf="this.colaboradores && this.colaboradores.length == 0">
      <mat-expansion-panel-header>
          Você ainda não ministra nenhuma turma!
      </mat-expansion-panel-header>
      <!--          -->
      </mat-expansion-panel>
  </mat-accordion>
</div>

<h4 class="text"> Avisos </h4>

<div class="container">
  <div class="list-group" *ngFor="let aviso of avisos">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{aviso.title}}</h5>
        <small class="text-muted">{{aviso.created_at | date: "dd/MM/yyyy"}}</small>
      </div>
      <p class="mb-1">{{aviso.description}}</p>
      <small class="text-muted">{{aviso.user.name}}</small>
    </a>
  </div>
  <h5 class="text2" *ngIf="this.avisos && this.avisos.length == 0">
    Você não tem nenhum aviso!
  </h5>
</div>

<button [routerLink]="['/students']" class="btn btn-primary but">Aulas que sou Aluno</button>        
<button [routerLink]="['/naviso']" class="btn btn-primary but">Novo Aviso</button>   
