<div *ngIf="user" class="container">

  <h1>{{ user.name }}</h1>
  <h4>{{ user.email }}</h4>
  <h4>{{ user.phone }}</h4>

  <!-- TO DO - get all courses, registration and responsible classes from Database -->
  <div *ngIf="this.classes.length > 0">
    <h2>Turmas matriculados</h2>
    <div class="list-group">
      <li *ngFor="let class of classes" class="list-group-item">{{class.turma.ciclo.name}} - {{class.turma.name}}</li>
    </div>
  </div>

  <div *ngIf="this.registrations.length > 0">
    <h2>Matrículas Pendentes</h2>
    <div class="list-group">
      <li *ngFor="let reg of registrations" class="list-group-item">{{reg.turma.ciclo.name}} - {{reg.turma.name}}</li>
    </div>
  </div>

  <div *ngIf="this.colaborators.length > 0">
    <h2>Turmas ministradas</h2>
    <div class="list-group">
      <li *ngFor="let colab of colaborators" class="list-group-item">{{colab.turma.ciclo.name}} - {{colab.turma.name}}</li>
    </div>
  </div>

  <h2>Permissões</h2>
  <div class="input-group mb-3">
    <select class="form-control" id="select">
      <option *ngIf="user.role == 'ALUNO'" selected>Aluno</option>
      <option *ngIf="user.role != 'ALUNO'" value="1">Aluno</option>
      <option *ngIf="user.role == 'COLAB'" selected>Colaborador</option>
      <option *ngIf="user.role != 'COLAB'" value="2">Colaborador</option>
      <option *ngIf="user.role == 'ADMIN'" selected>Administrador</option>
      <option *ngIf="user.role != 'ADMIN'" value="3">Administrador</option>
    </select>
  </div>
  <div class="row">
    <div class="col">
      <button [routerLink]="['/users']" type="button" class="btn btn-danger">Cancelar</button>
    </div>
    <div class="col">
      <button (click)="updateUser()" [routerLink]="['/users']" type="button" class="btn btn-success">Salvar</button>
    </div>
  </div>
</div>